<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home-Page</title>
      <style>
            .design {
                  width: 81.5%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
            }
      </style>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
      <div class="container text-center">
            <h1 class="display-4  text-center py-1">Thanks for Visit</h1>
            <div class="jumbotron p-3 design ">
                  <a href="/register">register</a>
                  <a href="/login">login</a>

            </div>
      </div>
</body>

</html>